{% extends "base.html" %}{% load bootstrap3 %}
{% load i18n %}{% load staticfiles %}{% load widget_tweaks %}


{% block title %}{% trans 'Password reset' %}{% endblock %}

{% block content %}

{% if validlink %}



<form action="" method="post" class="registrationForm">{% csrf_token %}

	<img src="{% static 'images/fb_logo_vertical.png' %}" class="img-responsive" style="max-width:250px;margin:0 auto;"/>

	<div class="alert  alert-success" >
		<p>
		{% trans "<b>Password Reset:</b> Please enter your new password twice so we can verify you typed it in correctly." %}</p>
		</p>
	</div>
{% bootstrap_form form %}
<br/>
<p><input class='btn btn-primary btn-raised'  type="submit" value="{% trans 'Change my password' %}" /><br/>
<input class='btn btn-default ' type="button" value="Cancel" onclick="javascript:document.location.href='/'" /></p>
</form>

{% else %}

<div class="ui-state-error ui-corner-all" style="padding: 0 .7em;">
<p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
</p>
</div>

{% endif %}


{% endblock %}
