{% extends "base.html" %}
{% load i18n %}{% load staticfiles %}

{% block title %}Password Reset{% endblock %}

{% block content %}

<form>
	<img src="{% static 'images/fb_logo_vertical.png' %}" class="img-responsive" style="max-width:250px;margin:0 auto;"/>

<div class="alert alert-success">
	<i class='fa fa-question-sign'></i>
	<b>Password reset successful!</b> Click the button below to go to the login page.
</div>


<p>
	<button class='btn btn-default btn-raised' type="button" onclick="javascript:document.location.href='/'">Return to Login Page</button>
</p>
</form>

{% endblock %}
