{% extends "base.html" %}
{% load i18n %}{% load staticfiles %}{% load widget_tweaks %}


{% block title %}Password Reset{% endblock %}

{% block content %}


<form action="" method="post">{% csrf_token %}

  <img src="{% static 'images/fb_logo_vertical.png' %}" class="img-responsive" style="max-width:250px;margin:0 auto;"/>


{% if form.email.errors %}
<div class="ui-state-error ui-corner-all" style="padding: 0 .7em;">
<p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
{% for error in form.email.errors %}
        <strong>{{ error|escape }}</strong>
{% endfor %}
</p>
</div>
{% else %}
<div class="alert alert-success">
	<i class='fa fa-question-sign'></i>
	{% trans "Forgot your password? Enter your email  below, and we'll send instructions for setting a new one." %}
</div>
{% endif %}

<p>
{{ form.email|add_class:"form-control"|attr:"placeholder:Email Address" }}
<br/>
<button class='btn btn-primary btn-raised' type="submit">{% trans 'Reset my password' %}</button>
<br/>
<button class='btn btn-default ' type="button" onclick="javascript:document.location.href='/'">Cancel</button>
</p>
</form>

{% endblock %}
