{% extends "base.html" %}{% load staticfiles %}{% load widget_tweaks %}
{% block title %}RCOE Google Educator Summer Camp{% endblock %}
{% block custom_head_content %}
<link rel="stylesheet" href="{% static 'css/forallbackpack_public.css' %}">
<style>
footer, header { display:none; }
</style>

{% endblock %}
{% block content %}

  <form class='registrationForm' >


    <img src="{% static 'images/rcoeevent/riversidecountysummit_trans.png' %}" class="img-responsive" style="max-width:300px;margin:0 auto;"/>


    <br/><br/>
    <input type="button" class="btn btn-raised btn-warning" style="text-transform:none;padding-left:10px;padding-right:10px;font-size:14px;" value="Claim Your Badge on ForAllBackpacks"
      onclick="document.location.href='/?claimrcoe=2'"/>
      <br/><br/>
      <img src="https://fp_rcoe.s3.amazonaws.com/media/files/badges/2017_Attendance_Badge.png" style="width:250px;height:250px;"/>
      <br/><br/>
      <p class='lead'>Granted to attendees of the 2017 Google Camp.</p>

  </form>
  <br/>  <br/>  <br/>  <br/>  <br/>  <br/>  <br/>
  <script language="javascript">

  </script>

{% endblock %}
