body {
background-color: #5cb984;
text-align:center;
background: url('../images/fb_background.jpg') no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;

}

footer {
  margin-top:0;
}

.feature {
  background-color: #5cb984;
  text-align:center;
  background: url('../images/fb_background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-bottom:30px;
  padding-left:10px;padding-right:10px;
  border-bottom:10px solid #f1f1f1;
}

.featureLogo {
  max-width:70%;
}

.featureDevices {
  max-width:90%;
  margin: 0 auto;
  margin-top:30px;

}
.featureLogo {

  margin:0 auto;
  margin-top:30px;
}

.feature a {
  padding:10px;
  display:inline-block;
  width:150px;
  border-radius:10px;
  font-size:1.6em;
}

.feature a.signup {
  background-color:#00c989;
  color:#ffffff;
  margin-right:20px;
  border:1px solid #ffffff;
}

.feature a.login {
  background-color:#ffffff;
  color:#00c989;
  border:1px solid #00c989;
}

.featureBottom {
background-color:#00c989;

text-align:center;
color:#ffffff;
padding:0px 50px;

  padding-top:45px;
  padding-bottom:45px;
}

.feature p {
  padding-top:30px;
  font-size:1.3em;
  display:inline-block;
  color:#fff;
}

.integrations {
  padding:0px 0px;
}

.issuers {
  padding:30px 40px;
  background-color:#60c187;
  color:#fff;
}


.leaners {
  padding:30px 40px;
  background-color:#f1f1f1;
}

.leaners h2, .issuers h2 {

  font-weight:bold;
  margin-bottom:35px;
  font-size: 2.5em;
}

.thumbnail:hover .zoomIcon {
  background-color:#ea5333;
  opacity:1;
}

.zoomIcon {
  position:relative;
  background-color:#000;
  color:#fff;
  width:30px;
  height:30px;
  opacity:.5;
  float:right;
  margin-top:-30px;
  font-size:1.4em;
}

.caption {
  margin-bottom:50px;
}

.lb-data .lb-caption {

  font-size: 1.8em;
}

.bottom {
  font-family:Bitter;
  background-color:#1f2c41;
  color:#fff;
  padding-top:35px;
  padding-bottom:35px;
}

.bottom h1 {
  font-size:2.6em;
  font-family:Bitter;
}

.bottom img {
  vertical-align:middle;
  padding-bottom:10px;
}

.appColumn {
  width:24%;
  float:left;
  text-align:center;
  border-right:1px solid #eee;
  color:#7a7a7a;
  font-size:.9em;
  padding-bottom:20px;
  min-height:200px;
}

.appColumn a {
  color:#7a7a7a;
}

.appColumn p {
  font-size:1.2em;
}

.appColumn div a {
  text-decoration:underline;
}

.appColumn div {
  padding:10px;
}

.appColumn img {
  width:80px;
  height:80px;
  margin-top:20px;
}

.appColumn h2 {
  font-family:Bitter;
  font-weight:400;
  margin-top:5px;;
  margin-bottom:0;
  font-size: 1.6em;
}

.appColumn h2 em {
  font-style:normal;
}

.farApp {
  padding-left:2%;
}

.farApp h2 {
  color:#f29c33;
}
.farApp h2 em {
  color:#dd7c06;
}

.fabApp h2 {
  color:#00c989;
}
.fabApp h2 em {
  color:#03885e;
}

.fapApp h2 {
  color:#387d7e;
}
.fapApp h2 em {
  color:#1b4243;
}

.fahApp h2 {
  color:#48578c;
}
.fahApp h2 em {
  color:#222e5c;
}

.fahApp {
  border-right:0;
}


h3 {
  margin-top:0;
}

.form-control, .form-group .form-control {
-webkit-background-size: 0 2px,100% 2px;
background-size: 0 2px,100% 2px;
}


form {
width:400px;
background-color:#ffffff;
padding:30px 0px;
border-radius:20px;
margin:0 auto;
margin-top:40px;
color:#606060;
font-size:1.1em;
font-weight:300;
box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.29);
text-align:center;
}

.form-group label.control-label {
  font-size:14px;
}

.registrationForm, .claimForm {
  width:70%;
  min-width:400px;
  padding:50px;
  padding-top:30px;
}

.checkbox label {
  font-weight:200;
  color:#606060;
}

.form-group {
margin-top:10px;
}

.form-group label {
  text-align:left;
  display:block;
  color:#606060;
  font-size:1.1em;
}

.registrationForm .checkbox, .claimForm .checkbox {
  text-align:left;
}

input {
max-width:330px;
margin: 0 auto;
}


.registrationForm input, .claimForm input{
max-width:100%;
margin: 0 auto;
}

.btn {
  font-size:1.1em;
  margin-bottom:20px;
}

.modal-header, .modal-body {
text-align:left;
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  form, .registrationForm, .claimForm {
    margin:0;
    width:100%;
    border-radius:0;
    box-shadow:0;
    padding:10px;
    min-width:auto;
  }

  .registrationForm input, .claimForm input {
    max-width:100%;
  }

  .container {
    padding:0;
  }

  .feature {
    padding-bottom:30px;
  }

  .featureLogo {
    width:80%;
    max-width:500px;
    margin-top:15px;
  }

  .feature a {
    padding:10px;
    display:block;
    width:200px;
    border-radius:10px;
    font-size:1.6em;

    margin: 0 auto;
    margin-bottom:15px;
    margin-top:15px;
  }

  .feature a.signup {
    margin: 0 auto;
    margin-top:15px;
  }

  .feature p {
    padding-top:10px;
    line-height:1em;
    font-size:1.1em;
  }

  .feature p img {
    width:40px !important;
    margin-top:-5px !important;
  }

  footer .text-right {
    text-align:left;
  }

}

@media only screen and (max-width: 767px) {



  .appColumn {
    font-size:.8em;
  }
  .appColumn div {
    padding:10px;
  }

  .appColumn h2 {
    font-size:1em;
  }

}

@media only screen and (max-width: 767px) and (orientation: portrait) {


  .bottom {
    padding-top:0px;
    padding-bottom:40px;
  }




  .appColumn {
    width:100%;
    float:none;
    border-bottom:1px solid #eee;
  }

  .appColumn {
    font-size:1.1em;
    border-right:none;
  }

  .appColumn h2 {
    font-size:1.6em;
  }

  .appColumn img {
    width:100px;
    height:100px;
    margin-top:20px;
  }



  .bottom {
    padding-top:15px;
    padding-bottom:15px;
  }

  .bottom h1 {
  font-size:1.6em;

  }

  .bottom img {
    width:30px;
  }

  .farApp { padding-left:0; }



}
