{% extends "base.html" %}{% load staticfiles %}{% load widget_tweaks %}
{% block title %}Event Not Found{% endblock %}
{% block custom_head_content %}
<link rel="stylesheet" href="{% static 'css/forallbackpack_public.css' %}">
<style>
footer, header { display:none; }
</style>

{% endblock %}
{% block content %}

  <form class='registrationForm' >


    <h1>Event Not Found</h1>


  </form>
  <br/>  <br/>  <br/>  <br/>  <br/>  <br/>  <br/>
  <script language="javascript">

  </script>

{% endblock %}
